body {
  background: rgb(226, 226, 226);
  background: linear-gradient(0deg, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 1) 100%);
  background-repeat: no-repeat !important;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

.App {

  min-height: 45em;
  background: rgb(156, 66, 224);
  background: linear-gradient(90deg, rgba(156, 66, 224, 0.7371323529411764) 54%, rgba(255, 151, 250, 0.7315301120448179) 100%);

  
}

.Todos {

  background-color: #fff;
  min-height: 40rem;
  width: 50%;

  -webkit-box-shadow: 2px -30px 3px -9px rgba(255,175,251,0.69); 
  box-shadow: 2px -30px 3px -9px rgba(255,175,251,0.69);
  
}

